@import 'variables';

header {

    position: relative;
    display: flex;
    justify-content: space-between;
    
    div {
        text-align: center;
    }

    .header-intro{
        height: auto;
        p{
            font-family: 'Playfair Display', serif;
            color: #736559;
            font-size: $size-text;
            margin-left: 144px;
        }
    }

    .header-logo{
        img{
            width: 250px;
            height: 150px;
        }

    }

    .header-contact{
        height: auto;
        text-align: right;
        p{            
            font-size: 36px;
            margin-right: 155px;
            color: #20276c;
        
        }
    }
}